@RenderSection("Scripts", required: false)
<!DOCTYPE html>
<html>
<head>
    <style>
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh; /* Bu, ekran yüksekliğinin tamamını kaplamak için kullanılabilir */
        }

        .border-box {
            /* İhtiyacınıza göre diğer stil ayarlarını ekleyebilirsiniz */
        }

        .na {
            text-decoration: none;
            color: white;
        }
    </style>
    <title>@Page.Title</title>
    @RenderSection("head", required: false)

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-inverse" style="background-color: #8eb3d5; border-bottom-left-radius: 30px; border-bottom-right-radius: 10px; font-family: 'Roboto', sans-serif;">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#" style="color: white; font-size: 24px;">DONANIM PAZAR</a>

                <div style="color: white;">Admin Paneli</div>


            </div>
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Kategoriler", "ViewCategory", "Admin", null, new { @class = "ht", style = "color: white;" })</li>
                <li>
                    @if (Session["ad_id"] != null)
                    {
                        @Html.ActionLink("Kategori Ekle", "create", "Admin", null, new { @class = "ht", style = "color: white;" })
                    }
                </li>
                <li>
                    @if (Session["ad_id"] != null)
                    {
                        @Html.ActionLink("İlanları Yönet", "ManageAds", "Admin", null, new { @class = "ht", style = "color: white;" })
                    }
                </li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    @if (Session["u_id"] == null)
                    {
                        @Html.ActionLink("Üye Girişi", "login", "User", null, new { @class = "ht", style = "color: white;" })
                    }
                </li>
                <li>
                    @if (Session["u_id"] == null)
                    {
                        @Html.ActionLink("Kayıt Ol", "SignUp", "User", null, new { @class = "ht", style = "color: white;" })
                    }
                    else
                    {
                        @Html.ActionLink("Çıkış Yap", "Signout", "Admin", null, new { @class = "ht", style = "color: white;" })
                    }
                </li>
            </ul>
        </div>
    </nav>





    @RenderBody()
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</body>
</html>
